<!DOCTYPE html>
<html>

<head>
	<title>Post - Sharebill</title>
	<base href="../../">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="style/main.css" type="text/css">

    <script src="vendor/couchapp/lol.js"></script>
    <script type="text/javascript" charset="utf-8">
		var selectors = function() {
		    var timestamp = function (date) {
		        var pad = function (amount, width) {
		            var str = amount.toString();
		            while (str.length < width) str = "0" + str;
		            return str;
		        };

		        date = date ? date : new Date();
		        return (
		            pad(date.getUTCFullYear(), 4) + "-" +
		            pad(date.getUTCMonth() + 1, 2) + "-" +
		            pad(date.getUTCDate(), 2) + "T" +
		            pad(date.getUTCHours(), 2) + ":" +
		            pad(date.getUTCMinutes(), 2) + ":" +
		            pad(date.getUTCSeconds(), 2) + "." +
		            pad(date.getUTCMilliseconds(), 3) + "Z"
		        );
		    };

		    var sum_calculator = function() {
		        var table = $(this).closest("table");

		        var sum = 0;
		        var sum_is_valid = true;
		        table.find(".value").each(
		            function(index, element) {
		                var value_text = $(element).val();
		                $(element).removeClass("error");
		                if (value_text != "") {
		                    var value = parseInt(value_text, 10);
		                    if (value.toString(10) == value_text) {
		                        sum = sum + value;
		                    } else {
		                        sum_is_valid = false;
		                        $(element).addClass("error");
		                    }
		                }
		            }
		        );

		        var sum_text = "-";
		        if (sum_is_valid) {
		            sum_text = sum.toString(10);
		        }

		        table.find("#sum").text(sum_text);
		    };

		    return {
		        "form": {
		            "_init": function() {
		                $(this).find("#description_entry").focus();
		                return false;
		            },
		            "submit": function() {
		                var form = $(this);
		                var inputs = form.find("input");
		                var status = form.find("#status");

		                var get_items = function(table) {
		                    var items = {};
		                    table.find("tr").each(function() {
		                        var name = $(this).find(".name").val();
		                        var value = parseInt($(this).find(".value").val(), 10);
		                        if (name && name != "" && value && value != 0) {
		                            items[name] = value;
		                        }
		                    });
		                    return items;
		                };

		                var post = {
				            "_id": form.find("#_id").val(),
				            "_rev": form.find("#_rev").val(),
		                    "meta": {
		                        "timestamp": form.find("#timestamp_entry").val(),
		                        "description": form.find("#description_entry").val()
		                    },
		                    "transaction": {
		                        "credits": get_items(form.find("table#credits")),
		                        "debets": get_items(form.find("table#debets"))
		                    }
		                };

		                inputs.attr("disabled", true);
		                form.fadeTo(1000, 0.60);
		                status.text("Saving...");
		                status.removeClass("error");
		                status.addClass("info");

		                var app = $$(this).app;
		                $$(this).app.db.saveDoc(post, {
		                    success: function() {
		                        status.text("Saved successfully!");
		                        status.removeClass("error");
		                        status.addClass("info");
		                        inputs.removeAttr("disabled");
		                        form.stop();
		                        form.fadeTo(100, 1.00);
		                    },
		                    error: function(httpCode, httpMessage, body) {
		                        status.text("Error: " + body);
		                        status.removeClass("info");
		                        status.addClass("error");
		                        inputs.removeAttr("disabled");
		                        form.stop();
		                        form.fadeTo(100, 1.00);
		                    }
		                });

		                return false;
		            },
		        },
		        "#description_entry": {
		            "change": function() {
		                var is_valid = $(this).val() != "";
		                if (is_valid) $(this).removeClass("error");
		                else $(this).addClass("error");
		            }
		        },
		        "input.dr.value": { "_init": sum_calculator, "change": sum_calculator },
		        "input.cr.value": { "_init": sum_calculator, "change": sum_calculator },
		        "#cancel": {
		            "click": function() {
		                var form = $(this).closest("form");
		                form.slideUp(500, form.remove);
		            }
		        }
		    };
		};

	    $.couch.app(function(app) {
			$("body").evently({_init: {selectors: selectors()}}, app);
		}, config);
    </script>

</head>

<body>

<h1>Post</h1>

<div class="section">

<form>

<input type="hidden" id="_id" value="{{_id}}"></input>
<input type="hidden" id="_rev" value="{{_rev}}"></input>

{{#meta}}
<dl>
<dt>Description:</dt> <dd><input type="text" id="description_entry" value="{{description}}"></input></dd>
<dt>Timestamp:</dt> <dd><input type="text" id="timestamp_entry" value="{{timestamp}}"></input></dd>
</dl>
{{/meta}}

{{#transaction}}
<table class="accounts" style="float: left; margin-right: 1em" id="debets">

<thead>
<tr><th colspan="2">Debit</th></tr>
<tr><th>Account</th><th>Value</th></tr>
</thead>

<tbody>
{{#debit_array}}
<tr>
  <td class="debets" ><input type="text" class="dr name" value="{{key}}"></input></td>
  <td class="debets" ><input type="text" class="dr value" value="{{value}}"></input></td>
</tr>
{{/debit_array}}
<tr><td class="debets" ><input type="text" class="dr name"></input></td><td class="debets" ><input type="text" class="dr value"></input></td></tr>
<tr><td class="debets" ><input type="text" class="dr name"></input></td><td class="debets" ><input type="text" class="dr value"></input></td></tr>
<tr><td class="debets" ><input type="text" class="dr name"></input></td><td class="debets" ><input type="text" class="dr value"></input></td></tr>
<tr id="totals"><td class="debets" >Sum</td><td class="debets" id="sum">-</input></td></tr>
</tbody>
</table>

<table class="accounts" style="float: left; margin-bottom: 1em" id="credits">

<thead>
<tr><th colspan="2">Credit</th></tr>
<tr><th>Account</th><th>Value</th></tr>
</thead>

<tbody>
{{#credit_array}}
<tr>
  <td class="credits"><input type="text" class="cr name" value="{{key}}"></input></td>
  <td class="credits"><input type="text" class="cr value" value="{{value}}"></input></td>
</tr>
{{/credit_array}}
<tr><td class="credits"><input type="text" class="cr name"></input></td><td class="credits"><input type="text" class="cr value"></input></td></tr>
<tr><td class="credits"><input type="text" class="cr name"></input></td><td class="credits"><input type="text" class="cr value"></input></td></tr>
<tr><td class="credits"><input type="text" class="cr name"></input></td><td class="credits"><input type="text" class="cr value"></input></td></tr>
<tr id="totals"><td class="credits" >Sum</td><td class="credits" id="sum">-</input></td></tr>
</tbody>
</table>
{{/transaction}}

<p style="clear:both">Attachments:</p>
{{#a}}
<p><a href="../../{{_id}}/{{key}}">{{key}}</a></p>
{{/a}}

<p style="clear:both">
<button type="submit">Save</button>
<button type="reset">Reset</button>
</p>
<p><span id="status"></span></p>

</form>

</div>

</body>

</html>
