<!DOCTYPE html>
<html>
<head>
	<title>Post &ndash; {{cfg.title}}</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="../">
	<link rel="stylesheet" href="{{cfg.cdn_base}}style/all.sum-{{sums.all_css_sum}}.css" type="text/css">
</head>
<body>
	<h1>Post</h1>
	<ul class="breadcrumbs">
		<li><a href="">Overview</a></li>
		<li><a href="post/{{id}}">Post</a></li>
	</ul>
	<div id="post">{{{form}}}</div>
	<div class="footer">
		<ul>
			<li>Sharebill</li>
			<li><a href="https://github.com/maghoff/sharebill">Source code</a></li>
			<li><a href="https://github.com/maghoff/sharebill/issues">Report an issue</a></li>
		</ul>
	</div>
	<script src="{{cfg.cdn_base}}all.sum-{{sums.all_js_sum}}.js"></script>
	<script>
		(function () {
			var instanceConfig = require('./instance-config')({{{instance_config}}});
			require('./post-editor')(document.getElementById("post"), {{{document}}}, instanceConfig);
		}());
	</script>
</body>
</html>
