<!DOCTYPE html>
<html>
<head>
	<title>Post - Sharebill</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="../">
	<link rel="stylesheet" href="{{cdn_base}}style/all.sum-{{all_css_sum}}.css" type="text/css">
</head>
<body>
	<h1>Post</h1>
	<div id="post">{{{form}}}</div>
	<div class="footer">
		<ul>
			<li>Sharebill</li>
			<li><a href="http://bitbucket.org/maghoff/sharebill">Source code</a></li>
			<li><a href="http://bitbucket.org/maghoff/sharebill/issues?status=new&status=open">Report an issue</a></li>
		</ul>
	</div>
	<script src="{{cdn_base}}all.sum-{{all_js_sum}}.js"></script>
	<script>
		(function () {
			var instanceConfig = require('./instance-config')({{{instance_config}}});
			require('./post-editor')(document.getElementById("post"), {{{document}}}, instanceConfig);
		}());
	</script>
</body>
</html>
