{{=<% %>=}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{user}} (Sharebill)</title>
    <base href="../">
    <link rel="stylesheet" href="<%cdn_base%>style/all.sum-<%all_css_sum%>.css" type="text/css">
    <script src="<%cdn_base%>all.sum-<%all_js_sum%>.js"></script>
    <link rel="alternate" href="{{atom-uri}}" type="application/atom+xml" title="{{user}} (Sharebill)">
    <script type="text/javascript" charset="utf-8">
      sharebill.onReady(function(app) {
        app.view("totals", {
          group: true,
          startkey: ["{{user}}", "credits"],
          endkey: ["{{user}}", "debets"],
          success: function (json) {
            var totals = {
              credits: new Fraction(0),
              debets: new Fraction(0)
            };
            json.rows.forEach(function (row) {
              totals[row.key[1]] = new Fraction(row.value);
            });
            $("#credit").text(sharebill.formatCurrencyShortOrEmpty(totals.credits));
            $("#debit").text(sharebill.formatCurrencyShortOrEmpty(totals.debets));

            var balance = totals.credits.subtract(totals.debets);
            $("#balance").text(sharebill.formatCurrencyShortOrEmpty(balance));
            if (balance.numerator < 0) {
              $("#balance").closest("tr").find("td").addClass("debets");
            }
          }
        });

        $("#show-all").click(function (event) {
          event.preventDefault();
          $("#posts").html("").evently("user_posts", app, {});
          $(this).remove();
        });
        $("#posts").evently("user_posts", app, {limit: 10});
      });
    </script>
    <style type="text/css">
      #atomlink {
        opacity: 0.4;
      }
      #atomlink:hover {
        opacity: 1.0;
      }
    </style>
  </head>
  <body class="metadata" data-user="{{user}}">
    <h1>Userpage for {{user}}</h1>
    <div class="section">
      <h2>Balance</h2>
      <table class="accounts">
        <thead>
          <tr><th>What</th><th>Amount</th></tr>
        </thead>
        <tbody>
          <tr><td class="credits">Credit <a class="fileformat" href="{{credit-uri}}">[txt]</a></td><td class="credits currency" id="credit"></td></tr>
          <tr><td class="debets">Debit <a class="fileformat" href="{{debit-uri}}">[txt]</a></td><td class="debets currency" id="debit"></td></tr>
          <tr id="totals"><td>Balance <a class="fileformat" href="{{balance-uri}}">[txt]</a></td><td class="currency" id="balance"></td></tr>
        </tbody>
      </table>
    </div>
    <div class="section">
      <h2>Posts <a id="atomlink" href="{{atom-uri}}" class="atomlink"></a></h2>
      <div id="posts"></div>
      <p><a id="show-all" href="#">Show all posts</a></p>
    </div>
    <div class="footer">
        <ul>
            <li>Sharebill</li>
            <li><a href="http://bitbucket.org/maghoff/sharebill">Source code</a></li>
            <li><a href="http://bitbucket.org/maghoff/sharebill/issues">Report an issue</a></li>
        </ul>
    </div>
  </body>
</html>
