@font-face {
    font-family: "Ubuntu";
    src: uri("Ubuntu-R.ttf") format("truetype");
}

body {
    font-family: "Ubuntu", "Helvetica", sans-serif;
    padding: 4px;
}

table {
    border-spacing: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

thead>tr>th {
    background: #999;
    background-image: url("gradient.png");
    background-repeat: repeat-x;
    color: #111;
    text-shadow: #EEE 1px 1px 1px;
}

thead>tr:first-child>th {
    border-top: 1px solid #BBB;
}

table>thead>tr:first-child>th:first-child {
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
}

table>thead>tr:first-child>th:last-child {
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
}

th {
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px solid #BBB;
    border-right: 1px solid #888;
    font-weight: normal;
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

tbody>tr:nth-child(2n) { background: hsl(120, 70%, 95%); }
tbody>tr:nth-child(2n+1) { background: hsl(120, 70%, 90%); }
tbody>tr:nth-child(2n)>.debets { background: hsl(0, 70%, 95%); }
tbody>tr:nth-child(2n+1)>.debets { background: hsl(0, 70%, 90%); }

tbody>tr:nth-child(2n):hover { background: hsl(120, 70%, 85%); }
tbody>tr:nth-child(2n+1):hover { background: hsl(120, 70%, 80%); }
tbody>tr:nth-child(2n):hover>.debets { background: hsl(0, 70%, 85%); }
tbody>tr:nth-child(2n+1):hover>.debets { background: hsl(0, 70%, 80%); }

td.credits, td.debets {
    text-align: right;
}

#totals>td {
    border-top: 1px solid gray;
    border-bottom: 3px double gray;
}
