body {
    font:1em Ubuntu, Helvetica, sans-serif;
    padding:4px;
}

table {
    border-spacing: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

thead {
    background: #999;
    color: #111;
    text-shadow: #EEE 1px 1px 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

table>thead>tr:first-child>th:first-child {
    background: #999;
    border-top-left-radius: 15px;
}

table>thead>tr:first-child>th:last-child {
    background: #999;
    border-top-right-radius: 15px;
}

th {
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px solid #AAA;
    border-right: 1px solid #888;
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

tbody>tr:nth-child(2n) { background: hsl(120, 70%, 95%); }
tbody>tr:nth-child(2n+1) { background: hsl(120, 70%, 90%); }
tbody>tr:nth-child(2n)>.credits { background: hsl(0, 70%, 95%); }
tbody>tr:nth-child(2n+1)>.credits { background: hsl(0, 70%, 90%); }

tbody>tr:nth-child(2n):hover { background: hsl(120, 70%, 85%); }
tbody>tr:nth-child(2n+1):hover { background: hsl(120, 70%, 80%); }
tbody>tr:nth-child(2n):hover>.credits { background: hsl(0, 70%, 85%); }
tbody>tr:nth-child(2n+1):hover>.credits { background: hsl(0, 70%, 80%); }

td.credits, td.debets {
    text-align: right;
}
